:root {
  --color-primary: #9dffaa;
  --text-color: rgb(83, 78, 78);
  --hover-color: #5b9463;
  --box-shadow: #dffff1;
}

:root[theme="blue"] {
  --color-primary: #01bca5;
  --hover-color: #fff;
  --text-color: #fff;
  --box-shadow: #01cab1;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: monospace;
}

.container {
  height: 100vh;
  width: 100%;
  padding: 2rem;
  background-color: var(--color-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.btn {
  margin-left: 2rem;
  height: 6rem;
  width: 10rem;
  color: var(--text-color);
  font-weight: bolder;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn1 {
  background: #fff;
  color: var(--color-primary);
  border: 2px solid transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn1:hover {
  color: var(--text-color);
  border: 2px solid var(--hover-color);
  background-color: transparent;
}

.btn2 {
  position: relative;
}

.btn2:before {
  content: "";
  height: 2px;
  width: 0;
  background-color: var(--hover-color);
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.btn2:after {
  content: "";
  height: 0;
  width: 2px;
  background-color: var(--hover-color);
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.btn2:hover:before {
  width: 100%;
}

.btn2:hover:after {
  height: 100%;
}

.btn3 {
  position: relative;
  -webkit-transition: letter-spacing 0.5s;
  transition: letter-spacing 0.5s;
}

.btn3:before {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--hover-color);
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.btn3:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--hover-color);
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.btn3:hover {
  letter-spacing: 2px;
}

.btn3:hover:before, .btn3:hover:after {
  width: 100%;
}

.btn4 {
  position: relative;
}

.btn4:before {
  content: "";
  width: 1.3rem;
  height: 1.3rem;
  border: 2px solid var(--hover-color);
  border-color: var(--hover-color) var(--hover-color) transparent transparent;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn4:after {
  content: "";
  width: 1.3rem;
  height: 1.3rem;
  border: 2px solid var(--hover-color);
  border-color: transparent transparent var(--hover-color) var(--hover-color);
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn4:hover::before, .btn4:hover::after {
  width: 10.5rem;
  height: 6.5rem;
}

.btn5 {
  position: relative;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}

.btn5:hover {
  -webkit-box-shadow: inset 0 0 15px var(--hover-color);
          box-shadow: inset 0 0 15px var(--hover-color);
}

.btn5::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: 1px solid var(--hover-color);
  -webkit-transition: border-color 0.3s, -webkit-transform 0.3s;
  transition: border-color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, border-color 0.3s;
  transition: transform 0.3s, border-color 0.3s, -webkit-transform 0.3s;
}

.btn5:hover::before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-color: transparent;
}

.btn6 {
  position: relative;
  border: 1px solid var(--hover-color);
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.btn6:hover {
  color: var(--color-primary);
}

.btn6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0px;
  background-color: var(--hover-color);
  -webkit-transition: width 0.2s cubic-bezier(0.54, 0.02, 1, 0.47);
  transition: width 0.2s cubic-bezier(0.54, 0.02, 1, 0.47);
  z-index: -1;
}

.btn6:hover::before {
  width: 100%;
}

.btn7 {
  position: relative;
  border: 1px solid var(--hover-color);
  overflow: hidden;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.btn7:hover {
  color: var(--color-primary);
}

.btn7::before {
  content: "";
  width: 2px;
  height: 130%;
  background-color: var(--hover-color);
  position: absolute;
  top: -10px;
  left: -10px;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
  -webkit-transition: width 0.2s cubic-bezier(0.54, 0.02, 1, 0.47);
  transition: width 0.2s cubic-bezier(0.54, 0.02, 1, 0.47);
  z-index: -1;
}

.btn7:hover::before {
  width: 130%;
}

.btn8 {
  position: relative;
  border: 1px solid var(--hover-color);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.btn8:hover {
  color: var(--color-primary);
}

.btn8::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--hover-color);
  -webkit-transition: height 0.3s cubic-bezier(0.54, 0.02, 1, 0.47);
  transition: height 0.3s cubic-bezier(0.54, 0.02, 1, 0.47);
  z-index: -1;
}

.btn8::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--hover-color);
  -webkit-transition: height 0.3s cubic-bezier(0.54, 0.02, 1, 0.47);
  transition: height 0.3s cubic-bezier(0.54, 0.02, 1, 0.47);
  z-index: -1;
}

.btn8:hover::before, .btn8:hover::after {
  height: 100%;
}

.btn9 {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
}

.btn9:hover {
  -webkit-box-shadow: inset 19px 19px 38px var(--hover-color), inset -19px -19px 38px var(--box-shadow);
          box-shadow: inset 19px 19px 38px var(--hover-color), inset -19px -19px 38px var(--box-shadow);
  border-radius: 3rem;
}

.btn10 {
  border: 1px solid var(--hover-color);
  position: relative;
  overflow: hidden;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.btn10:hover {
  color: var(--color-primary);
}

.btn10::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  top: -50px;
  left: -9rem;
  border-radius: 50%;
  -webkit-transition: all 0.3s cubic-bezier(0.54, 0.02, 1, 0.47);
  transition: all 0.3s cubic-bezier(0.54, 0.02, 1, 0.47);
  z-index: -1;
}

.btn10:hover::before {
  width: 220%;
  height: 225%;
  background-color: var(--hover-color);
  border-radius: 0;
}

.btn11 {
  width: 18rem;
  height: 6rem;
  border-radius: 2rem;
  -webkit-box-shadow: inset 19px 19px 38px var(--hover-color), inset -19px -19px 38px var(--box-shadow);
          box-shadow: inset 19px 19px 38px var(--hover-color), inset -19px -19px 38px var(--box-shadow);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.btn11:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.btn11:active {
  -webkit-box-shadow: inset 0 0 15px var(--hover-color);
          box-shadow: inset 0 0 15px var(--hover-color);
}
/*# sourceMappingURL=style.css.map */