
// --- THEMES ---
:root {
  --color-primary: #9dffaa;
  --text-color: rgb(83, 78, 78);
  --hover-color: #5b9463;
  --box-shadow: #dffff1;
}
:root[theme="blue"] {
  --color-primary: #01bca5;
  --hover-color: #fff;
  --text-color: #fff;
  --box-shadow: #01cab1;
}

//--- DEFAULT SETTING----
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // Makes 1rem = 10px
}

body {
  box-sizing: border-box;
  font-family: monospace;
}

// --- MAIN STYLES ---

.container {
  height: 100vh;
  width: 100%;
  padding: 2rem;
  background-color: var(--color-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  transition: all 2s;
}

.btn {
  margin-left: 2rem;
  height: 6rem;
  width: 10rem;
  color: var(--text-color);
  font-weight: bolder;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

// --- BUTTON 1 ---
.btn1 {
  background: #fff;
  color: var(--color-primary);
  border: 2px solid transparent;
  transition: all .5s;

  &:hover {
    color: var(--text-color);
    border: 2px solid var(--hover-color);
    background-color: transparent;
  }
}

//--- BUTTON 2 ---
.btn2 {
  position: relative;

  &:before {
    content: "";
    height: 2px;
    width: 0;
    background-color: var(--hover-color);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: width 0.5s;
  }

  &:after {
    content: "";
    height: 0;
    width: 2px;
    background-color: var(--hover-color);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: height 0.5s;
  }

  &:hover:before {
    width: 100%;
  }

  &:hover:after {
    height: 100%;
  }
}

//--- BUTTON 3 ---
.btn3 {
  position: relative;
  transition: letter-spacing 0.5s;

  &:before {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--hover-color);
    position: absolute;
    top: 0;
    right: 0;
    transition: width 0.5s;
  }

  &:after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--hover-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
  }
  &:hover {
    letter-spacing: 2px;
  }

  &:hover:before,
  &:hover:after {
    width: 100%;
  }
}

// --- BUTTON 4 ---

.btn4 {
  position: relative;

  &:before {
    content: "";
    width: 1.3rem;
    height: 1.3rem;
    border: 2px solid var(--hover-color);
    border-color: var(--hover-color) var(--hover-color) transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s;
  }

  &:after {
    content: "";
    width: 1.3rem;
    height: 1.3rem;
    border: 2px solid var(--hover-color);
    border-color: transparent transparent var(--hover-color) var(--hover-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
  }

  &:hover:before,
  &:hover:after {
    width: 10.5rem;
    height: 6.5rem;
  }
}

// --- BUTTON 5 ---

.btn5 {
  position: relative;
  transition: box-shadow 0.4s;

  &:hover {
    box-shadow: inset 0 0 15px var(--hover-color);
  }

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: 1px solid var(--hover-color);
    transition: transform 0.3s, border-color 0.3s;
  }

  &:hover:before {
    transform: scale(1.2);
    border-color: transparent;
  }
}

// --- BUTTON 6 ---
.btn6 {
  position: relative;
  border: 1px solid var(--hover-color);
  transition: color 0.4s;

  &:hover {
    color: var(--color-primary);
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0px;
    background-color: var(--hover-color);
    transition: width 0.2s cubic-bezier(0.54, 0.02, 1, 0.47);
    z-index: -1;
  }

  &:hover:before {
    width: 100%;
  }
}

.btn7 {
  position: relative;
  border: 1px solid var(--hover-color);
  overflow: hidden;
  transition: color 0.5s;

  &:hover {
    color: var(--color-primary);
  }

  &:before {
    content: "";
    width: 2px;
    height: 130%;
    background-color: var(--hover-color);
    position: absolute;
    top: -10px;
    left: -10px;
    transform: skewX(-15deg);
    transition: width 0.2s cubic-bezier(0.54, 0.02, 1, 0.47);
    z-index: -1;
  }

  &:hover:before {
    width: 130%;
  }
}

// --- BUTTON 8 ---
.btn8 {
  position: relative;
  border: 1px solid var(--hover-color);
  transition: color 0.3s;

  &:hover {
    color: var(--color-primary);
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--hover-color);
    transition: height 0.3s cubic-bezier(0.54, 0.02, 1, 0.47);
    z-index: -1;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--hover-color);
    transition: height 0.3s cubic-bezier(0.54, 0.02, 1, 0.47);
    z-index: -1;
  }

  &:hover::before,
  &:hover::after {
    height: 100%;
  }
}

// BUTTON 9
.btn9 {
  transition: all 0.5s;
  border: none;

  &:hover {
    box-shadow: inset 19px 19px 38px var(--hover-color),
      inset -19px -19px 38px var(--box-shadow);
    border-radius: 3rem;
  }
}

// --- BUTTON 10 ---
.btn10 {
  border: 1px solid var(--hover-color);
  position: relative;
  overflow: hidden;
  transition: color 0.3s;

  &:hover {
    color: var(--color-primary);
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: -50px;
    left: -9rem;
    border-radius: 50%;
    transition: all 0.3s cubic-bezier(0.54, 0.02, 1, 0.47);
    z-index: -1;
  }

  &:hover:before {
    width: 220%;
    height: 225%;
    background-color: var(--hover-color);
    border-radius: 0;
  }
}

// --- BUTTON 11 ---
.btn11 {
  width: 18rem;
  height: 6rem;
  border-radius: 2rem;
  box-shadow: inset 19px 19px 38px var(--hover-color),
    inset -19px -19px 38px var(--box-shadow);
  transition: transform 0.4s;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    box-shadow: inset 0 0 15px var(--hover-color);
  }
}
