*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: monospace;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #9DFFAA;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn {
  margin-left: 2rem;
  height: 6rem;
  width: 10rem;
  color: #534e4e;
  font-weight: bold;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn1 {
  background: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #9DFFAA;
  border: 2px solid transparent;
  -webkit-transition-property: color, border, background-color;
  transition-property: color, border, background-color;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.btn1:hover {
  color: #534e4e;
  border: 2px solid #5b9463;
  background-color: transparent;
}

.btn2 {
  position: relative;
}

.btn2:before {
  content: '';
  height: 2px;
  width: 0;
  background-color: #5b9463;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.btn2:after {
  content: '';
  height: 0;
  width: 2px;
  background-color: #5b9463;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: height .5s;
  transition: height .5s;
}

.btn2:hover:before {
  width: 100%;
}

.btn2:hover::after {
  height: 100%;
}

.btn3 {
  position: relative;
  -webkit-transition: letter-spacing .5s;
  transition: letter-spacing .5s;
}

.btn3::before {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #5b9463;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.btn3::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #5b9463;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.btn3:hover {
  letter-spacing: 2px;
}

.btn3:hover::before, .btn3:hover::after {
  width: 100%;
}

.btn4 {
  position: relative;
}

.btn4:before {
  content: '';
  width: 1.3rem;
  height: 1.3rem;
  border: 2px solid #5b9463;
  border-color: #5b9463 #5b9463 transparent transparent;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn4:after {
  content: '';
  width: 1.3rem;
  height: 1.3rem;
  border: 2px solid #5b9463;
  border-color: transparent transparent #5b9463 #5b9463;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn4:hover::before, .btn4:hover::after {
  width: 10.5rem;
  height: 6.5rem;
}

.btn5 {
  position: relative;
  border: 1px solid #5b9463;
  -webkit-transition: -webkit-box-shadow .4s;
  transition: -webkit-box-shadow .4s;
  transition: box-shadow .4s;
  transition: box-shadow .4s, -webkit-box-shadow .4s;
}

.btn5:hover {
  -webkit-box-shadow: inset 0 0 15px #5b9463;
          box-shadow: inset 0 0 15px #5b9463;
}

.btn5::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: 1px solid #5b9463;
  -webkit-transition: border-color .3s, -webkit-transform .3s;
  transition: border-color .3s, -webkit-transform .3s;
  transition: transform .3s, border-color .3s;
  transition: transform .3s, border-color .3s, -webkit-transform .3s;
}

.btn5:hover::before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-color: transparent;
}

.btn6 {
  position: relative;
  border: 1px solid #5b9463;
  -webkit-transition: color .4s;
  transition: color .4s;
}

.btn6:hover {
  color: #9DFFAA;
}

.btn6::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0px;
  background-color: #5b9463;
  -webkit-transition: width .3s ease-in;
  transition: width .3s ease-in;
  z-index: -1;
}

.btn6:hover::before {
  width: 100%;
}

.btn10 {
  -webkit-transition: all .5s;
  transition: all .5s;
  border: none;
}

.btn10:hover {
  -webkit-box-shadow: inset 19px 19px 38px #5b9463, inset -19px -19px 38px #dffff1;
          box-shadow: inset 19px 19px 38px #5b9463, inset -19px -19px 38px #dffff1;
  border-radius: 3rem;
}

.btn11 {
  width: 18rem;
  border: none;
  -webkit-box-shadow: inset 19px 19px 38px #5b9463, inset -19px -19px 38px #dffff1;
          box-shadow: inset 19px 19px 38px #5b9463, inset -19px -19px 38px #dffff1;
}
/*# sourceMappingURL=style.css.map */